<section class="index-section">
    <div class="row flex">
        <div class="content">
            <div class="header">
                Welcome to Worko!
            </div>
            <ul>
                <li>
                    <i class="fa-regular fa-hand-point-right"></i>
                        Revolutionize your job search by easily 
                    requesting referrals from multiple companies 
                    using any job description URL. 
                </li>
                <li>
                    <i class="fa-regular fa-hand-point-right"></i>
                        Unlock premium services like resume 
                    reviews and career guidance for a competitive edge. 
                </li>
            </ul>
            <div class = "column">    
                <p class="info">
                    Join Worko today and take charge of your career journey!
                </p>
                <button class="primary-button" routerLink="/login">Login</button>
            </div>
        </div>
        <img src="./././assets/illustration.png" alt="" class="illustration">
    </div>
</section>
